{%extends 'base_layout.html'%}

{%block content%}
<div class="decoder-section-1">
<h2 class="process-head">Decoder</h2>
<form method="post">
    {%csrf_token%}
    {{dec}}
    <button type="submit" class="decode-button">Decode</button>
</form>
</div>
{%endblock%}