{%extends 'base_layout.html'%}
{%block content%}
    <main>
        <div class="encoder-section-1">
            <h2 class="process-head">Encoder</h2>
        <form method="post">
            {%csrf_token%}
            {{enc}}
            <button type="submit" class="encode-button">Encode</button>
        </form>
        </div>
        <div class="instructions-section-2">
            <h2 class="instructions-exception">Limitations</h2>
            <ul>
                <li>No language other than english cannot be encrypted(you can encrypt numbers)</li>
                <li>It cannot convert alt codes or any special symbols</li>
            </ul>
            </div>
    </main>
{%endblock%}
