{%extends 'base_layout.html'%}
{%block content%}
<div class="error-wrapper">
<div class="error-section-1">
<h2>Oops!</h2>
<h3>You made a mistake.</h3>
<h4>Please check you message has any exceptions mentioned below.</h4>
<div class="instructions-section-2">
    <ul>
        <li>No language other than english cannot be encrypted(you can encrypt numbers)</li>
        <li>It cannot convert alt codes or any special symbols</li>
    </ul>
    </div>
</div>
</div>
{%endblock%}