*{
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace;
    text-decoration: none;
}
body{
    background-color: #212121;
}
.logo{
    color:#8BC34A;
    font-size: 30px;
    font-weight: 900;
    display: block;
    text-align: center;
    margin: 15px 0;
}
header{
    width: 100%;
    height: 90px;
    list-style: none;
}
header ul{
    display: block;
    margin: 0 auto;
    width: fit-content;
}
header ul li{
    display: inline-block;
    float: left;
    margin: 0 20px;
}
header ul li a{
    color: #bdbdbd;
    border: 2px solid #8BC34A;
    padding: 5px;
    border-radius: 20px;
}
footer{
    background-color: #8BC34A;
    width: 100%;
    height: 135px;
}
footer ul{
    display: block;
    margin: 0 auto;
    text-align: center;
}
footer ul li{
    display: block;
    margin-bottom: 5px;
}
footer ul li a{
    color: #212121;
    text-align: center;
    font-size: 18px;
}
.main-container-1{
    display: table;
    margin: auto;
}
.section-1{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: calc(100vh - 90px);
}
.main-container-2{
    display: table;
    margin: auto;
}
.foot-head{
    font-size: 20px;
    font-weight: 900;
    margin: auto;
    margin-bottom: 10px;
    width: fit-content;
    color: #212121;
    border-bottom: 2px solid #212121;
}
.section-1 h2{
    text-align: center;
    color: #8BC34A;
    font-size: 30px;
    font-weight: 700;
}
.section-1 ul{
    display: block;
    margin: 0 30px;
}
.section-1 li{
    text-align: left;
    color: #bdbdbd;
    font-size: 18px;
    line-height: 25px;
    list-style: square;
}
.section-1 li a{
    color: #FF5733;
}
.section-2{
    width: 100%;
    height: calc(100vh - 135px);
    display: table-cell;
    vertical-align: middle;
}
.encrypt, .decrypt{
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    border: 2px solid #8BC34A;
    border-radius: 50%;
    background-color: #8BC34A;
    margin: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 20px;
}

.section-2 a{
    color: #212121;
}

.instructions-head, .instructions-exception{
    text-align: center;
    color: #8BC34A;
    font-size: 30px;
    padding-bottom: 10px;
}
.instructions-steps{
    text-align: center;
    color: #8BC34A;
    padding-bottom: 10px;
    font-weight: 500;
}
.instructions-section-1 ul{
    display:table;
    padding: 0 30px;
    list-style: square;
}
.instructions-section-1 ul li{
    color: #bdbdbd;
    line-height: 30px;
}
.instructions-section-2 ul{
    padding: 0 30px;
    list-style: square;
}
.instructions-section-2 ul li{
    color: #bdbdbd;
    line-height: 30px;
}
.instructions-section-1{
    margin: 10px auto;
}
.instructions-section-2{
    margin: 10px auto;
}
.contact-section-1 h2{
    color: #8BC34A;
    font-size: 30px;
    text-align: center;
}
.contact-section-1 img{
    width: 200px;
    height: 219px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-section-2{
    margin: auto;
    padding: 0 10px;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 30px;
}
.contact-section-2 {
    color: #bdbdbd;
}
.name{
    color: #8BC34A;
    font-size: 20px;
}
.contact-ending{
    margin-top: 20px;
}
.email{
    color: #FF5733;
}
.encoder-section-1 textarea, .decoder-section-1 textarea{
    width: 80%;
    height: 55vh;
    display: block;
    margin: auto;
    background-color: #212121;
    border: 4px solid #8BC34A;
    border-radius: 25px;
    margin-top: 10px;
    font-size: 18px;
    padding: 10px 10px;
    color: #bdbdbd;
}
textarea{
    color: #bdbdbd;
}
.encoder-section-1, .decoder-section-1{
    display: block;
    color: #bdbdbd;
}
.encoder-section-1 button, .decoder-section-1 button{
    display: block;
    margin: auto;
    background-color: #FF5733;
    color: #212121;
    border: none;
    width: 100px;
    height: 40px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 25px;
    font-size: 20px;
}
.process-head, .results-head{
    color: #8BC34A;
    font-size: 30px;
    text-align: center;
}
.results-textarea{
    width: 80%;
    height: calc(90vh - 100px);
    display: block;
    margin: auto;
    background-color: #212121;
    border: 4px solid #8BC34A;
    border-radius: 25px;
    margin-top: 10px;
    font-size: 18px;
    padding: 10px 10px;
    color: #bdbdbd;
    margin-bottom: 20px;
}
.error-section-1 h2{
    font-size: 35px;
    color: #8BC34A;
    text-align: center;
    margin-bottom: 30px;
}
.error-section-1 h3{
    font-size: 25px;
    color: #8BC34A;
    text-align: center;
    margin-bottom: 25px;
}
.error-section-1 h4{
    font-size: 18px;
    color: #8BC34A;
    text-align: center;
    margin-bottom: 20px;
}
.note{
    color: #FF5733;
    margin: 20px;
}

@media only screen and (min-width: 768px) {
    .wrapper-home{
        display: inline-flex;
    }
    .main-container-1{
        width: 60%;
    }
    .main-container-2{
        display: inline-block;
    }
    .error-wrapper{
        height: calc(100vh - 225px);
    }
    .encrypt:hover, .decrypt:hover{
        background-color: #212121;
        color: #8BC34A;
    }
    .manual-icon:hover, .contact-icon:hover{
        background-color: #8BC34A;
        color: #212121;
    }
    .encode-button:hover, .decode-button:hover{
        background-color: #212121;
        color: #FF5733;
        border: 2px solid #FF5733;
    }
    .section-1 ul li{
        margin: 20px 0;
    }
    
}
