{%extends 'base_layout.html'%}
{%block content%}
<main>
        <div class="contact-section-1">
        <h2 class="contact-head">contact</h2>
        <img src="/static/profile.jpg">
        </div>
        <div class="contact-section-2">
            <p>Hi Everyone, 
            <p>Your contact content here!</p>
            <p class="contact-ending"> contact footer here </p>
        </div>
</main>    
{%endblock%}
